@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    html {
      font-family: Poppins , sans-serif;
    }
  } */

body{
    width: 100%;
    height: 100vh;
    font-family: 'agency fb';
    background: url('./img/reindeer.png') no-repeat;
    background-position: 50%;
    background-size: cover;
    /* overflow: hidden; */

}  
.logo{
    flex: 0 0 50%;
}
.menu-links ul{
    width: 100%;
}
.scrolldown::before{
    display: inline-block;
    content: "";
    border-top: 1px solid #000;
    width: 65px;
    margin: 0 10px 0 10px;
    transform: translateY(10px);
}
.text{
    text-align: right;
}
.watchnow{
    padding: 30px 180px 30px 30px;
}
.fa-play{
    color: #fff;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.ellipse{
    position: absolute;
    top: 0;
    border-radius: 50%;
    border-style: solid;
}

.ellipse.thin{
    width: 100%;
    height: 100%;
    border-width: 1px;
    border: color #494949;
    opacity: .5;
}

.ellipse.thick{
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: #fff;
    transform: rotate(-45deg);
    top: 12px;
    left: 12px;
}

ellipse.yellow{
    width: 93%;
    height: 93%;
    
}